page-welcome {

  ion-content {
    background-color: pink;
    background: url("../assets/img/logo.png");
    background-size: 100% 40%;
    background-repeat: no-repeat;
    //background-color: pink;
  }
}
